<div class="score-card">
  <h2>Score Card</h2>

  <!-- Primer Div: Distribución Poblacional -->
  <div class="distribution-container">
    <h3>Loan Population Distribution</h3>
    <p>Percentages of failure and success of loaning in our data</p>
    <p-chart
      type="pie"
      [data]="pieChartData"
      [options]="pieChartOptions"
      [style]="{ width: '500px' }"
    ></p-chart>
  </div>

  <!-- Segundo Div: Puntaje de Riesgo -->
  <div class="risk-score-container">
    <h2>Risk Scores</h2>

    <p>Given your profile data you have the following probabilities</p>
    <br />
    <!-- Progress Bars for Paid, Current, Failure -->
    <div class="progress-bar-section">
      <h3>Current</h3>
      <p-progressBar
        [value]="currentProbability"
        [showValue]="true"
      ></p-progressBar>

      <h3>Fully Paid</h3>
      <p-progressBar
        [value]="fullyPaidProbability"
        [showValue]="true"
      ></p-progressBar>

      <h3>Charged Off</h3>
      <p-progressBar
        [value]="chargedOffProbability"
        [showValue]="true"
      ></p-progressBar>

      <h3>Late (31-120)</h3>
      <p-progressBar
        [value]="late31_120Probability"
        [showValue]="true"
      ></p-progressBar>

      <h3>In Grace Period</h3>
      <p-progressBar
        [value]="inGracePeriodProbability"
        [showValue]="true"
      ></p-progressBar>

      <h3>Late (16-30)</h3>
      <p-progressBar
        [value]="late16_30Probability"
        [showValue]="true"
      ></p-progressBar>

      <h3>Issued</h3>
      <p-progressBar
        [value]="issuedProbability"
        [showValue]="true"
      ></p-progressBar>

      <h3>Default</h3>
      <p-progressBar
        [value]="defaultProbability"
        [showValue]="true"
      ></p-progressBar>

      <h3>Credit Policy Fully Paid</h3>
      <p-progressBar
        [value]="creditPolicyFullyPaidProbability"
        [showValue]="true"
      ></p-progressBar>

      <h3>Credit Policy Charged Off</h3>
      <p-progressBar
        [value]="creditPolicyChargedOffProbability"
        [showValue]="true"
      ></p-progressBar>
    </div>
    <br />

    <!-- Score Section -->
    <div class="score-section">
      <h2>Score</h2>
      <h4>{{ score }}</h4>
      <p>
        Score Interpretation:<br />
        Less than 649: High Risk Profile. Difficulties in obtaining credit or
        less favorable conditions.<br />
        650 - 699: Moderate Risk Profile. Eligible for credit, but with possible
        restrictions or higher rates.<br />
        700 - 750: Low Risk Profile. Good credit history and low risk. High
        probability of approval with good conditions.
      </p>
    </div>
  </div>
</div>
