<div id="page-root">
  <div id="header">
    <h1>Credit Risk Calculator</h1>
    <p>
      Use our calculator to assess your credit risk level and discover the state
      of your financial health.
    </p>
  </div>

  <div>
    <form #loanForm="ngForm" (ngSubmit)="onSubmit(loanForm)" novalidate>
      <div *ngFor="let field of loanFields">
        <div class="p-field">
          <label [for]="field.key">{{ field.label }}</label>
          <input
            pInputText
            [id]="field.key"
            type="number"
            [(ngModel)]="formData[field.key]"
            [name]="field.key"
            required
            #loanInput="ngModel"
          />
        </div>
      </div>

      <p-button
        label="Submit"
        type="submit"
        [disabled]="!loanForm.valid"
      ></p-button>
    </form>
  </div>

  <div>
    <app-score-card></app-score-card>
  </div>
</div>
