/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins");

:root {
  font-family: "Poppins", sans-serif;
  --padding: 0.5rem 0.75rem;
  --color: #555;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", "primeicons", sans-serif !important;
  //font-size: 16px;
  //-webkit-text-size-adjust: 100%;
}

html,
body {
  margin: auto;
  padding: 0;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  //font-family: var(--font-family);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1100px) {
  * {
    font-size: small;
    //background-color: aqua;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.p-fluid .p-inputtext {
  height: 30px;
}

.p-datatable .p-paginator-bottom {
  font-size: 16px;
}
